/* Карточки проектов: Тень и скругление */
.card {
    border-radius: 24px; /* значение по умолчанию для экранов до 1199px */
    box-shadow: -13px 43px 18px 0 rgba(44, 44, 92, 0.01),
                -7px 24px 15px 0 rgba(44, 44, 92, 0.04),
                -3px 11px 11px 0 rgba(44, 44, 92, 0.07),
                -1px 3px 6px 0 rgba(44, 44, 92, 0.08) !important;
}

@media (min-width: 1200px) { /* значение для экранов от 1200px */
.card {
    border-radius: 32px;
  }
}


/* Карточки проектов: Анимация фонового изображения только от 1200px */
@media (min-width: 1200px) {
  .card div {
    background-size: 100% !important;
    transition: background-size 0.4s ease !important;
  }

  .card div:hover {
    background-size: 110% !important;
  }
}

/* Некликабельные карточки и контейнеры: Тень и скругление */
.shadow  {
    border-radius: 24px; /* значение по умолчанию для экранов до 1199px */
    box-shadow: -13px 43px 18px 0 rgba(44, 44, 92, 0.01),
                -7px 24px 15px 0 rgba(44, 44, 92, 0.04),
                -3px 11px 11px 0 rgba(44, 44, 92, 0.07),
                -1px 3px 6px 0 rgba(44, 44, 92, 0.08) !important;
}

@media (min-width: 1200px) { /* значение для экранов от 1200px */
.shadow {
    border-radius: 32px;
  }
}

/* Маленькие контейнеры: Тень и скругление */
.small-shadow {
    border-radius: 12px; /* значение по умолчанию для экранов до 1199px */
    box-shadow: -3px 11px 11px 0 rgba(44, 44, 92, 0.07),
                -1px 3px 6px 0 rgba(44, 44, 92, 0.08) !important;
}

@media (min-width: 1200px) { /* значение для экранов от 1200px */
.small-shadow {
    border-radius: 32px;
  }
}

/* Шапка: Тень и скругление */
.header-shadow {
    border-radius: 50px;
    box-shadow: -13px 43px 18px 0 rgba(44, 44, 92, 0.01),
                -7px 24px 15px 0 rgba(44, 44, 92, 0.04),
                -3px 11px 11px 0 rgba(44, 44, 92, 0.07),
                -1px 3px 6px 0 rgba(44, 44, 92, 0.08) !important;
}

/* Форма: Кнопка на всю ширину */
.form-fullwidth .t-submit {
  width: 100% !important;
}

/* Сообщение об отправленной форме: Скругление */
.t-form-success-popup__wrapper {
    border-radius: 32px !important;
}

/* Сообщение об отправленной форме: Расположение иконки закрытия */
.t-form-success-popup__close-icon {
    top: 20px !important;
    right: 20px !important;
}
